




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

*{
    margin: 0%;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: 400px;
  font-variation-settings:
    "wdth" 100;
}
    
header{
    background-color: rgb(2, 28, 92);
    justify-content: space-between;
    color: rgb(255, 255, 255);
    align-items: center;
    height: 400%;
    display:  flex;
    max-width: 100%; 
    padding: 10px 30px;
}

ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

#logo{
    justify-content: first baseline;
     
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);  
}

li:hover{
    color: rgb(165, 56, 56);
    transform:scale(2.0) ;
    background-color: rgb(176, 208, 236);
    padding: 10px;
    border-radius: 5px;
    border: 2px;
    opacity:rgb(176, 208, 236);
    
}

#logo{
    font-size: 36px;      
    font-weight: 700;     
    letter-spacing: 2px;  
}