*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #111;
    color: white;
}

/* HEADER */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background: #000000;
    
}

#nome-logo{
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#nome-logo span{
    color: #d23b4a;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.menu{
    color: white;
    text-decoration: none;
    transition: .3s;

}

.menu:hover{
    color: #d23b4a;
    transition: 0.5s;
}

/* BANNER */

.banner-principal{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
    url("IMG/banner.jpg") center/cover;
}

.banner-principal h1{
    font-size: 60px;
    margin-bottom: 20px;
}

.banner-principal p{
    font-size: 20px;
    max-width: 700px;
    margin-bottom: 40px;
}

#btn-ver-livros{
    background: #d23b4a;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    text-decoration: none;
    transition: .3s;
}

#btn-ver-livros:hover{
    background: #b32b39;
}

/* LIVROS */

#livros{
    padding: 80px 8%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

/* CARD */

.card-livro{
    width: 320px;
    background: #222;
    border-radius: 15px;
    overflow: hidden;
    transition: .4s;
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}

.card-livro:hover{
    transform: translateY(-10px);
}

.foto-livro{
    width: 100%;
    height: 430px;
    object-fit: cover;
}

.info-livro{
    padding: 20px;
    text-align: center;
}

.categoria-livro{
    color: #db051e;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    width: 300px;
}

.titulo-livro{
    margin-top: 10px;
    font-size: 24px;
    color: rgb(167, 167, 167);
}

.autor-livro{
    margin-top: 8px;
    color: #bbb;
}

.btn-livros{
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #d23b4a;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.btn-livros:hover{
    background: #b32b39;
}


.pesquisa{
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:30px;
    overflow:hidden;
    width:350px;
}

.pesquisa input{
    width:100%;
    padding:12px 18px;
    border:none;
    outline:none;
    font-size:15px;
}

.pesquisa button{
    width:55px;
    height:45px;
    border:none;
    background:#8B0000;
    color:#fff;
    cursor:pointer;
    font-size:18px;
    transition:.3s;
}

.pesquisa button:hover{
    background:#974444;
}

.ajuda{
    background-color: #b30000;
    padding: 60px 20px;
    border:#fff;
    border-radius: 8px;
}

.ajuda  h2{
    color:var(--azul-escuro);
    text-align: center;
    margin-bottom: 40px;
    font-size: 31px;
}

.todos-passos{
    display: flex;
    justify-content: center;
}



.fotter-coluna{
    justify-content: center;

}


footer {
    width: 100%;
    background: #0a0000;
    color: #fff;
    padding: 50px 8% 20px;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}


.footer-coluna {
    display: flex;
    flex-direction: column;
}


.footer-coluna h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 600;
}


.footer-coluna ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-coluna ul li {
    margin-bottom: 12px;
    color: #aaa;
    font-size: 14px;
}

/* Links */
.footer-coluna a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.footer-coluna a:hover {
    color: #fff;
    padding-left: 5px;
}



.footer-social {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


